Repository redhat-developer/rhd-frontend, pull requests merged in 2019-09, with the labels that each got.

#129 Introduce navigation references
  src/data/components/navigation/context/main/details.toml
  src/data/components/navigation/context/main/main_navigation.toml
  src/data/components/navigation/context/main/main_navigation_mobile.toml
  src/data/components/navigation/context/topic/details.toml
  src/data/components/navigation/context/topic/topic_navigation.toml
  src/data/components/navigation/context/topic/topic_navigation_mobile.toml
  src/data/components/navigation/variants.toml
  src/docs/content/components/navigation.md
  src/docs/themes/rhd-docs/layouts/_default/baseof.html
  src/docs/themes/rhd-docs/layouts/_default/single.html
  src/docs/themes/rhd-docs/layouts/partials/component.html
  src/docs/themes/rhd-docs/layouts/partials/component_old.html
  src/docs/themes/rhd-docs/layouts/partials/header.html
  src/docs/themes/rhd-docs/layouts/shortcodes/code.html
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_navigation.scss
Labels: CSS, HTML, UX

#139 Update README local dev instructions
  README.md
Labels: bug, documentation

#150 Updates for buttons
  src/data/components/cta/context/base/default.toml
  src/data/components/cta/context/base/details.toml
  src/data/components/cta/context/base/primary.toml
  src/data/components/cta/context/base/secondary.toml
  src/data/components/cta/variants.toml
  src/docs/content/_index.md
  src/docs/content/components/btn-cta.md
  src/docs/content/components/cta.md
  src/docs/content/patterns/misc/btn-cta.md
  src/styles/2019/_buttons.scss
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_buttons.scss
  src/styles/rhd.scss
Labels: CSS, HTML

#117 Added Jump-to Nav Reference
  src/data/components/jump-to-nav/context/base/default.toml
  src/data/components/jump-to-nav/context/base/details.toml
  src/data/components/jump-to-nav/variants.toml
  src/docs/content/components/jump-to-nav.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_jump-to-nav.scss
Labels: CSS, HTML, UX

#186 Add Curated Links component
  src/data/components/curated-links/context/base/default.toml
  src/data/components/curated-links/context/base/details.toml
  src/data/components/curated-links/variants.toml
  src/docs/content/components/curated-links.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_curated-links.scss
Labels: CSS, HTML

#187 Add Bonus Content Item component
  src/data/components/bonus-content-item/context/base/default.toml
  src/data/components/bonus-content-item/context/base/default2.toml
  src/data/components/bonus-content-item/context/base/details.toml
  src/data/components/bonus-content-item/variants.toml
  src/docs/content/components/bonus-content-item.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_avatar.scss
  src/styles/rhd-theme/components/_bonus-content-item.scss
  src/styles/rhd-theme/components/_divider.scss
Labels: CSS, HTML, UX

#205 Featured Resources
  src/data/components/featured-resources/context/base/default.toml
  src/data/components/featured-resources/context/base/details.toml
  src/data/components/featured-resources/variants.toml
  src/docs/content/components/featured-resources.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_featured-resources.scss
Labels: CSS, HTML

#208 Card Grid reference impl
  src/data/components/card-grid/context/base/center-aligned.toml
  src/data/components/card-grid/context/base/details.toml
  src/data/components/card-grid/context/base/left-aligned.toml
  src/data/components/card-grid/variants.toml
  src/docs/content/components/card-grid.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_card-grid.scss
Labels: CSS, HTML

#197 Add Product Try-it component
  src/data/components/product_try_it/context/base/details.toml
  src/data/components/product_try_it/context/base/tryitDark.toml
  src/data/components/product_try_it/context/base/tryitLight.toml
  src/data/components/product_try_it/context/base/tryitSimple.toml
  src/data/components/product_try_it/variants.toml
  src/docs/content/_index.md
  src/docs/content/components/product-try-it.md
  src/styles/2019/_backgrounds.scss
  src/styles/rhd-theme/components/_buttons.scss
Labels: CSS, HTML

#210 Product Download List component
  src/data/components/product_download_list/context/base/default.toml
  src/data/components/product_download_list/context/base/details.toml
  src/data/components/product_download_list/variants.toml
  src/docs/content/components/product-download-list.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_product-download-list.scss
Labels: CSS, HTML

#216 Feature/#199 legacy button support
  src/docs/content/components/btn-cta.md
  src/styles/rhd-theme/components/_buttons.scss
Labels: CSS, HTML

#215 Add class definitions for typography
  src/docs/content/patterns/design/typography.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_buttons.scss
  src/styles/rhd-theme/typography/_dark.scss
Labels: documentation

#221 Update Bonus Content Item for Lists
  src/data/components/bonus-content-item/context/base/default.toml
  src/data/components/bonus-content-item/context/base/default2.toml
  src/data/components/bonus-content-item/context/base/default3.toml
  src/data/components/bonus-content-item/variants.toml
  src/styles/rhd-theme/components/_bonus-content-item.scss
Labels: UX, enhancement

#213 Dynamic Content List with Disqus
  src/data/components/comment-list-card/context/base/default.toml
  src/data/components/comment-list-card/context/base/details.toml
  src/data/components/comment-list-card/variants.toml
  src/data/components/dynamic-content-list/context/base/default.toml
  src/data/components/dynamic-content-list/context/base/details.toml
  src/data/components/dynamic-content-list/context/base/no-padding-bottom.toml
  src/data/components/dynamic-content-list/context/base/no-padding-top.toml
  src/data/components/dynamic-content-list/variants.toml
  src/docs/content/components/comment-list-card.md
  src/docs/content/components/dynamic-content-list.md
  src/docs/content/components/dynamic-list.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_comment-list-card.scss
  src/styles/rhd-theme/components/_dynamic-content-list.scss
Labels: CSS, HTML

#227 Fix Card heights
  src/styles/rhd-theme/components/_cards.scss
Labels: CSS, enhancement

#228 Fix author element padding
  src/styles/rhd-theme/components/_video-hero.scss
Labels: CSS

#230 Dynamic Content Component
  src/data/components/card-grid/context/base/dark-centered.toml
  src/data/components/card-grid/context/base/dark.toml
  src/data/components/card-grid/context/base/no-padding-bottom.toml
  src/data/components/card-grid/context/base/no-padding-top.toml
  src/data/components/card-grid/variants.toml
  src/data/components/dynamic-content/context/base/center.toml
  src/data/components/dynamic-content/context/base/dark-centered.toml
  src/data/components/dynamic-content/context/base/dark.toml
  src/data/components/dynamic-content/context/base/default.toml
  src/data/components/dynamic-content/context/base/details.toml
  src/data/components/dynamic-content/context/base/no-padding-bottom.toml
  src/data/components/dynamic-content/context/base/no-padding-top.toml
  src/data/components/dynamic-content/variants.toml
  src/docs/content/components/dynamic-content.md
  src/styles/rhd-theme/components/_card-grid.scss
Labels: CSS, HTML

#243 Updates Card Grid
  src/data/components/card-grid/context/base/left-aligned.toml
  src/styles/rhd-theme/components/_card-grid.scss
Labels: CSS

#260 Adds header-link class
  src/styles/rhd-theme/_rhd-theme.scss
Labels: CSS

#237 Add Curated Content cards
  src/data/components/curated-content/context/base/default.toml
  src/data/components/curated-content/context/base/details.toml
  src/data/components/curated-content/variants.toml
  src/docs/content/components/curated-content.md
  src/styles/rhd-theme/components/_cards.scss
Labels: CSS, HTML, UX

#255 Rich text columns
  src/data/components/rich_text_columns/context/base/details.toml
  src/data/components/rich_text_columns/context/base/rich_text_columns.toml
  src/data/components/rich_text_columns/context/base/rich_text_columns_featured.toml
  src/data/components/rich_text_columns/context/base/rich_text_columns_three.toml
  src/data/components/rich_text_columns/variants.toml
  src/docs/content/components/rich_text_columns.md
Labels: CSS, HTML, UX

#254 Updates Curated Products
  src/data/components/curated-products/context/base/curatedProductsBasic.toml
  src/data/components/curated-products/context/base/curatedProductsCenter.toml
  src/data/components/curated-products/context/base/curatedProductsDark.toml
  src/data/components/curated-products/context/base/curatedProductsDefault.toml
  src/data/components/curated-products/context/base/curatedProductsFeatured.toml
  src/data/components/curated-products/context/base/curatedProductsFourUp.toml
  src/data/components/curated-products/context/base/curatedProductsNoPaddingBottom.toml
  src/data/components/curated-products/context/base/curatedProductsNoPaddingTop.toml
  src/data/components/curated-products/variants.toml
  src/styles/rhd-theme/components/_card-grid.scss
  src/styles/rhd-theme/components/_curated-products.scss
Labels: CSS, HTML

#233 Feature/featured article reference implementation #86
  src/data/components/featured-article/context/base/center.toml
  src/data/components/featured-article/context/base/dark.toml
  src/data/components/featured-article/context/base/default.toml
  src/data/components/featured-article/context/base/details.toml
  src/data/components/featured-article/context/base/gray.toml
  src/data/components/featured-article/context/base/no-padding-bottom.toml
  src/data/components/featured-article/context/base/no-padding-top.toml
  src/data/components/featured-article/variants.toml
  src/docs/content/components/featured-article.md
  src/styles/rhd-theme/_rhd-theme.scss
Labels: CSS, HTML, UX

#269 All Prods. Listing Component
  src/data/components/all-products-listing/context/base/dark.toml
  src/data/components/all-products-listing/context/base/default.toml
  src/data/components/all-products-listing/context/base/details.toml
  src/data/components/all-products-listing/context/base/gray.toml
  src/data/components/all-products-listing/context/base/no-padding-bottom.toml
  src/data/components/all-products-listing/context/base/no-padding-top.toml
  src/data/components/all-products-listing/variants.toml
  src/docs/content/components/all-products-listing.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_all-products-listing.scss
Labels: CSS, HTML

#272 Collection Component
  src/data/components/collection/context/base/dark.toml
  src/data/components/collection/context/base/default.toml
  src/data/components/collection/context/base/details.toml
  src/data/components/collection/context/base/gray.toml
  src/data/components/collection/context/base/no-padding-bottom.toml
  src/data/components/collection/context/base/no-padding-top.toml
  src/data/components/collection/context/base/pager-dots.toml
  src/data/components/collection/variants.toml
  src/docs/content/components/collection.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_collection.scss
  src/styles/rhd-theme/components/_pager.css
Labels: CSS, HTML

#274 Update Typography
  src/docs/content/patterns/design/typography.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_author-tile.scss
  src/styles/rhd-theme/components/_cards.scss
  src/styles/rhd-theme/components/_footer.scss
  src/styles/rhd-theme/components/_video-hero.scss
  src/styles/rhd-theme/typography/_typography.scss
  src/styles/rhd-theme/typography/_weights.scss
Labels: CSS, documentation
