Repository redhat-developer/rhd-frontend, pull requests merged in 2019-10, with the labels that each got.

#293 Add Featured Evangelists component
  src/data/components/featured-evangelists/context/base/dark.toml
  src/data/components/featured-evangelists/context/base/default.toml
  src/data/components/featured-evangelists/context/base/details.toml
  src/data/components/featured-evangelists/context/base/grid_view.toml
  src/data/components/featured-evangelists/context/base/no_padding_bottom.toml
  src/data/components/featured-evangelists/context/base/no_padding_top.toml
  src/data/components/featured-evangelists/variants.toml
  src/docs/content/components/featured-evangelists.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_featured-evangelists.scss
Labels: CSS, HTML, UX

#290 Update Video Card
  src/data/components/card/context/videos/card.toml
  src/data/components/card/context/videos/card_with_flag.toml
  src/data/components/card/context/videos/card_with_image.toml
  src/docs/content/components/card-html.html
  src/styles/rhd-theme/components/_cards.scss
Labels: CSS, UX

#294 Update footer section headers
  src/data/components/footer/context/base/rhd_footer.toml
  src/styles/rhd-theme/components/_footer.scss
Labels: enhancement

#288 Add Events Hero
  src/data/components/events-hero/context/base/details.toml
  src/data/components/events-hero/context/base/events_hero_2events_default.toml
  src/data/components/events-hero/context/base/events_hero_2events_light.toml
  src/data/components/events-hero/context/base/events_hero_default.toml
  src/data/components/events-hero/context/base/events_hero_default_slim.toml
  src/data/components/events-hero/context/base/events_hero_light.toml
  src/data/components/events-hero/context/base/events_hero_light_slim.toml
  src/data/components/events-hero/variants.toml
  src/docs/content/components/events-hero.md
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_author-tile.scss
  src/styles/rhd-theme/components/_buttons.scss
  src/styles/rhd-theme/components/_events-hero.scss
Labels: CSS

#297 Refactors Top Nav Component
  src/data/components/rhd-top-nav/context/base/default.toml
  src/data/components/rhd-top-nav/context/base/details.toml
  src/data/components/rhd-top-nav/variants.toml
  src/docs/content/components/navigation.md
  src/docs/content/components/rhd-top-nav.md
  src/scripts/js/rhd/menu.js
  src/styles/rhd-theme/_rhd-theme.scss
  src/styles/rhd-theme/components/_icons.scss
  src/styles/rhd-theme/components/_rhd-top-nav.scss
  src/styles/rhd.scss
Labels: CSS, HTML

#299 Feature/add button to dynamic content list refrence #281
  src/data/components/dynamic-content-list/context/base/default.toml
  src/data/components/dynamic-content-list/context/base/no-padding-bottom.toml
  src/data/components/dynamic-content-list/context/base/no-padding-top.toml
Labels: CSS, HTML, UX

#392 Fix mobile layouts for jump nav
  src/data/components/jump-to-nav/context/base/default.toml
  src/styles/rhd-theme/components/_jump-to-nav.scss
Labels: CSS, UX, enhancement

#394 Set author name size to 12px
  src/styles/rhd-theme/components/_author-tile.scss
Labels: UX, enhancement

#396 Update demo environment with grid examples
  src/docs/content/patterns/layout/grid.md
  src/docs/themes/rhd-docs/layouts/partials/header.html
Labels: documentation

#401 Add Event Schedule component
  src/data/components/event-schedule/context/base/default.toml
  src/data/components/event-schedule/context/base/details.toml
  src/data/components/event-schedule/variants.toml
  src/docs/content/components/event-schedule.md
Labels: HTML
